.Auth {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
.AuthImage {
  width: 70%;
}
.AuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4.5vw;
}
@media only screen and (min-width: 1500px) {
  .AuthForm {
    padding: 0 6vw;
  }
}
@media only screen and (min-width: 900px) {
  .Auth {
    height: 100vh;
  }
}
@media only screen and (max-width: 900px) {
  .Auth {
    flex-direction: column;
    border-width: 3px;
    border-color: var(--darkGray);
    border-style: outset;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--baseWhite);
  }
  .AuthImage {
    width: 100%;
    margin-bottom: 30px;
  }
}
