version: '3.8'
services:
  website:
    build: .
    container_name: website
    env_file:
      - .env.local
    ports:
      - '3000:3500'
    networks:
      - ng_net

networks:
  ng_net:
    name: e-novation_ng_net
    external: true