.jobContainer {
  /* width: 100%; */
  background-color: var(--baseWhite);
  /* height: 120px; */
  margin-top: 40px;
  display: flex;
  margin: 1vw;
  border-radius: 10px;
}
.jobBox {
  width: 50%;
  padding: 0.5vw;
  margin: 1.4vw 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobText {
  font-size: 0.7rem;
  font-weight: lighter;
}
.jobNumber {
  margin-top: 0.2vw;
  font-weight: bold;
  color: var(--primary);
}
