.interfaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.userImage {
  width: 30%;
  border-radius: 100%;
}
.welcomeText {
  font-size: 1.5rem;
  color: var(--baseWhite);
  margin-bottom: 10px;
}
.logout {
  color: var(--baseWhite);
  font-size: 0.7rem;
  background-color: transparent;
  border: none;
}
