.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .App {
    border-style: solid;
    border-width: 15vw;
    border-color: var(--primary);
    background-color: var(--primary);
  }
}
