:root {
  --primary: #192570;
  --secondary: #f2ca30;
  --lightGray: #bebebe;
  --darkGray: #575757;
  --baseWhite: white;
  --warning: rgb(137, 0, 0);
  --lightYellow: #f0d774;
  --lightShadow: #d7d7d7;
  --darkYellow: #f2ab30;
  --lighterGray: #dededebe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1400px) {
  * {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  * {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-color: var(--primary);
  }
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 10.5px;
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 9.5px;
  }
}
@media only screen and (max-width: 500px) {
  * {
    font-size: 9px;
  }
}
