.main {
  width: 100%;
  height: 100%;
  background-color: var(--baseWhite);
  display: inline-block;
}
.imageContainer {
  /* background-color: red; */
  width: 75%;
  height: 75px;
  display: flex;
  align-items: center;
}
.mainLogo {
  height: 60%;
}
