@font-face {
    font-family: "main";
    src: url(../../fonts/ProductSansRegular.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "main";
    src: url(../../fonts/ProductSansBold.ttf) format("truetype");
    font-weight: 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


table {
    border-collapse: collapse;
}

body,
html {
    font-family: 'main';
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}


p {
    font-size: 1rem;
}

input {
    font-size: 0.9rem;
    font-weight: 400;
}