.container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 20px var(--lightShadow);
  align-items: center;
  padding: 10px 2vw;
  border-radius: 10px;
  margin: 20px 1vw;
  min-width: 150px;
  min-height: 100px;
  margin-right: auto;
}
.title {
  margin-right: 2vw;
}
.alarmed {
  color: var(--secondary);
}
.notAlarmed {
  opacity: 0.2;
}
