.container {
  display: flex;
  box-shadow: 0px 4px 20px var(--lightShadow);
  align-items: center;
  padding: 10px 2vw;
  border-radius: 10px;
  margin: 20px 1vw;
  min-height: 100px;
  margin-right: auto;
}
.title {
  margin-right: 2vw;
}
.bell {
  color: var(--secondary);
}
