.container {
  display: flex;
  border-radius: 5px;
  padding: 0.7vw;
  align-items: center;
  min-width: 18rem;
  margin-top: 5px;
}
.title {
  margin-left: 1vw;
  font-weight: bold;
}
.done {
  color: var(--darkYellow);
  width: 2rem;
  height: 2rem;
}
.inProgress {
  color: var(--secondary);
  width: 2rem;
  height: 2rem;
}
.notStarted {
  color: var(--lightGray);
  width: 2rem;
  height: 2rem;
}
.bgBlue {
  background-color: var(--primary);
}
.bgWhite {
  background-color: var(--baseWhite);
  border: 1px var(--lighterGray) solid;
}
