.imageLabel {
  margin-bottom: 40px;
}

.imageLogo {
  width: 95%;
  /* height: 100%; */
}

.inputContainer {
  position: relative;
  margin-top: 20px;
  /* margin-left: 1vw; */
  width: 100%;
}
.input {
  width: 100%;
  padding: 10px;
  /* background-color: red; */
  /* box-sizing: border-box; */
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1.5px;
  border-style: solid;
  border-color: var(--lightGray);
}
.input:focus {
  outline: none;
}
.inputIcon {
  margin-top: 12px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  position: absolute;
  margin-left: 0.5vw;
  /* background-color: red; */
}

.twoIconContainer {
  top: 0;
  /* z-index: 5; */
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* margin-left: 2.7%; */
  /* background-color: yellow; */
}
.inputIconEye {
  margin-top: 12px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  /* position: absolute; */
  /* margin-left: 20%; */
  /* background-color: red; */
  margin-left: auto;
  pointer-events: auto;
}
.formButton {
  /* width: 100%; */
  font-weight: 100;
  color: var(--baseWhite);
  margin-top: 30px;
  background-color: var(--secondary);
  border-bottom: none;
  border-radius: 10px;
}
.formButton:hover {
  opacity: 0.9;
}
.formButton:active {
  /* border-color: var(--lightGray);
  border-width: 3px;
  border-style: inset; */
  opacity: 0.6;
}

.buttonDisabled {
  opacity: 0.6;
}
.buttonDisabled:hover {
  opacity: 0.6;
}

.invalidText {
  color: var(--warning);
  height: 5px;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .formButton {
    margin-bottom: 30px;
  }
  .imageLogo {
    width: 70%;
    height: 100%;
  }
}
