.container {
  width: 10px;
  height: 100%;
  border-radius: 3px;
  background-color: var(--secondary);
  display: flex;
  align-items: end;
}
.filler {
  width: 100%;
  background-color: var(--primary);
  border-radius: 2px;
}
