.showerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3vw;
}
.progressLeftSideContainer {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  column-gap: 2vw;
  margin-right: auto;
}
.progressCardContainer {
  display: flex;
  flex-direction: column-reverse;
}
.progressRightSideContainer {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  flex-basis: 30%;
}
.progressInfoTitle {
  color: var(--secondary);
  font-weight: 500;
  width: 100%;
}
.progressInfoes {
  padding: 10px 0 10px 1vw;
  font-weight: 400;
  background-color: var(--baseWhite);
  border: 1px var(--lighterGray) solid;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
}
